@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
body {
  background-color: #111;
}

:root {
  --primary-color: #DB202C;
}

.netflixLogo {
  font-family: "Bebas Neue";
  color: var(--primary-color);
  margin-left: 20px;
  letter-spacing: 1px;
} 

.navigation {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  display: flex;
}

.navigation .navLinks {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-left: 20px;
  color: #fff;
}

.navigation .navLinks p {
  margin: 10px;
  font-size: 15px;
}

.navigation .navLinks p:hover {
  color: rgb(217, 217, 217);
}